* {
    font-family: 'Englebert', sans-serif;
}

body {
    text-align: justify;
}

.burger-icon {
    color: #90b702;
    font-size: 1.5em !important;
    margin-top: 20px;
}

.main-content-padding {
    padding-left: 15%;
    padding-right: 15%;
}

*:focus {
    outline: 0 !important;
}

.apply-button-img {
    width: 100%;
}

.big-menu-item {
    color: #658202 !important;
    font-size: 1em;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    float: right;
}

.big-menu-item:hover, .big-menu-item-in-fab:hover, .sub-menu-item:hover {
    text-decoration: underline;
}

.medium-screen-menu-item {
    font-size: 0.75em !important;
}

.sub-menu-item {
    color: white !important;
    font-size: 1em;
    background: orange !important;
    float: left;
}

.big-menu-item-in-fab {
    color: #658202 !important;
    font-size: 1em;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

md-fab-actions {
    position: absolute;
}

.multilevel-menu {
    float: right;
    display: block;
}

a.header-link:hover, a.header-link:active, a.header-link:visited, a.header-link:link {
    text-decoration: none;
}

.logo-img {
    max-height: 80%;
    max-width: 80%;
}

md-toolbar.mobile-menu-header {
    background: #90b702;
}

md-tooltip {
    font-size: 1em;
}

.mobile-menu-item {
    color: #658202 !important;
    background-color: whitesmoke;
}

.mobile-menu-item a {
    text-decoration: none !important;
}

.mobile-menu-item:active {
    background: #D7D7D7;
}

.mobile-menu-header {
    text-align: center;
}

.big-screen-menu {
    color: black;
    text-align: right;
}

.mobile-menu-list {
    padding-left: 0;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.main-container {
    min-height: 100vh;
}

.custom-page-header {
    text-align: center;
}

.custom-page-header-big-screen:before {
    content: url('../images/wave.png');
    margin-right: 4vw;
}

.custom-page-header-big-screen:after {
    content: url('../images/wave.png');
    margin-left: 4vw;
}

md-toolbar.top-toolbar {
    background: white;
    height: 105px;
}

.main-header {
    font-size: 2.3em;
    color: #90b702;
    font-family: 'Yellowtail', cursive;
}

.sub-header {
    color: #e51189;
    font-family: 'Yellowtail', cursive;
    text-align: right;
    margin-top: -20px !important;
}

.big-screen-image-container {
    width: 100%;
    margin-bottom: -4vw;
    padding: 0;
}

.big-screen-motto {
    width: 100%;
    position: relative;
    bottom: 4vw;
    display: inline-block;
    height: 45px;
    color: white;
    font-size: 1.5vw;
}

.mobile-screen-motto {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1vh;
}

.big-screen-header-montessori-link {
    position: relative;
    bottom: 18vw;
    text-align: right;
    font-size: 1.5vw;
}

.big-screen-header-montessori-link a {
    color: #658202;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.montessori-highlight {
    color: magenta;
}

.demo-image {
    width: 10vw;
    border: 0.2vw solid white;
    margin-left: 1vw;
}

.highlight-info-header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1vw;
}

.highlight-info-text {
    font-size: 1.3em;
}

.hotel-img {
    width: 100%
}

.hotel-text {
    color: #658202;
    font-size: 1.7em;
}

.mobile-montessori-link {
    font-size: 1.7em;
    width: 100%;
    white-space: normal;
    margin: 0;
    background: orange !important;
    color: white !important;
}

.hotel-highlight-link {
    color: #658202;
}

.hotel-highlight-link:hover {
    color: #658202;
}

.small-homepage-image {
    width: 100%;
    border: 0.2vw solid orange;
}

.image-fader {
    border: 1vw solid orange !important;
}

.homepage-content {
    font-size: 1.3em;
    text-align: justify;
    margin-top: 4vw;
}

.apply-button-mobile {
    font-size: 5.4vw;
}

.apply-button-mobile-container {
    margin-top: 1vh;
}

.highlight {
    padding-left: 2vw;
    padding-right: 2vw;
}

.footer {
    margin-top: 2vw;
}

.highlights-container-mobile {
    width: 100%;
    display: block;
    clear: both;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 1vw;
}

.highlight-mobile {
    text-align: center;
    width: inherit;
    position: absolute;
}

.swap-animation.ng-enter, .swap-animation.ng-leave {
    transition: 0.5s linear all;
}

.swap-animation.ng-enter {
    left: 100%;
}

.swap-animation.ng-enter-active {
    left: 0;
}

.swap-animation.ng-leave {
    left: 0;
}

.swap-animation.ng-leave-active {
    left: -100%;
}

.language-selector {
    margin-top: 6px;
    text-align: center;
    float: right;
}

.language-selector .ui-select-toggle {
    border-color: #658202;
    width: 45px;
    min-width: 45px;
}

.language-selector .ui-select-choices-row, .language-selector .ui-select-choices-group, .language-selector .ui-select-choices, .language-selector .ui-select-search {
    width: 45px;
    min-width: 45px;
    text-align: center;
}

.language-selector .ui-select-choices-row.active > a {
    background-color: #658202;
}

.language-selector .ui-select-choices-row-inner {
    padding: 0 !important;
}

.language-selector .ui-select-toggle > .caret {
    display: none;
}

