* {
    font-family: 'Englebert', sans-serif;
}

.burger-icon {
    color: #90b702;
    font-size: 1.5em !important;
    margin-top: 20px;
}

.main-content-padding {
    padding-left: 15%;
    padding-right: 15%;
}

*:focus {
    outline: 0
}

.apply-button-img {
    width: 100%;
}

.big-menu-item {
    color: #5c7b00 !important;
    font-size: 1em;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    float: right;
}

.sub-menu-item {
    color: white !important;
    font-size: 1em;
    background: orange !important;
    float: left;
}

.big-menu-item-in-fab {
    color: #5c7b00 !important;
    font-size: 1em;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

md-fab-actions {
    position: absolute;
}

.multilevel-menu {
    float: right;
    display: block;
}

a.header-link:hover, a.header-link:active, a.header-link:visited, a.header-link:link {
    text-decoration: none;
}

.logo-img {
    max-height: 80%;
    max-width: 80%;
}

md-toolbar.mobile-menu-header {
    background: #90b702;
}

.mobile-menu-header {
    text-align: center;
}

.big-screen-menu {
    color: black;
    text-align: right;
}

.mobile-menu-list {
    padding-left: 0;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.main-container {
    min-height: 100vh;
}

md-toolbar.top-toolbar {
    background: white;
    height: 105px;
}

.main-header {
    font-size: 2.3em;
    color: #90b702;
    font-family: 'Yellowtail', cursive;
}

.sub-header {
    color: #e51189;
    font-family: 'Yellowtail', cursive;
    text-align: right;
    margin-top: -20px !important;
}

.big-screen-image-container {
    width: 100%;
    margin-bottom: -9vw;
    padding: 0;
}

.big-screen-motto {
    width: 100%;
    position: relative;
    bottom: 4vw;
    display: inline-block;
    height: 45px;
    color: white;
    font-size: 1.5vw;
}

.mobile-screen-motto {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1vh;
}

.big-screen-header-images {
    position: relative;
    bottom: 15vw;
    text-align: right;
}

.demo-image {
    width: 10vw;
    border: 0.2vw solid white;
    margin-left: 1vw;
}

.highlight-info-header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1vw;
}

.stretchy-container {
    background-image: url("../images/applyButton.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
    padding-bottom: 23%;
    position: relative;
}

.stretchy-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.apply-button {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 1.4vw;
}

.apply-button-mobile {
    font-size: 5.4vw;
}

.apply-button-mobile-container {
    margin-top: 1vh;
}

.highlight {
    padding-left: 2vw;
    padding-right: 2vw;
}

.footer {
    margin-top: 2vw;
}

.highlights-container-mobile {
    width: 100%;
    display: block;
    clear: both;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 1vw;
}

.highlight-mobile {
    text-align: center;
    width: inherit;
    position: absolute;
}

/*.swap-animation.ng-enter, .swap-animation.ng-leave {*/
/*transition: 2s linear all;*/
/*}*/
/*.swap-animation.ng-enter {*/
/*opacity: 0;*/
/*}*/
/*.swap-animation.ng-enter-active {*/
/*opacity: 1;*/
/*}*/
/*.swap-animation.ng-leave {*/
/*opacity: 1;*/
/*}*/
/*.swap-animation.ng-leave-active {*/
/*opacity: 0;*/
/*}*/

.swap-animation.ng-enter, .swap-animation.ng-leave {
    transition: 0.5s linear all;
}

.swap-animation.ng-enter {
    left: 100%;
}

.swap-animation.ng-enter-active {
    left: 0;
}

.swap-animation.ng-leave {
    left: 0;
}

.swap-animation.ng-leave-active {
    left: -100%;
}
