<div ng-show="bigScreen" class="big-screen-short-image-container">
    <img src="./images/kidsShort.jpg" style="width: 100%;" alt="Kids desktop"/>
</div>
<img src="./images/kidsShortMobile.png" style="width: 100%; padding: 0" ng-show="!bigScreen" alt="Kids short Mobile"/>
<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="DUNAJSKALUZNA.GALLERY"></h2>
        </div>
        <div layout layout-padding>
            <div flex class="panel panel-default" style="padding: 0">
                <div class="panel-heading">
                    <span translate="DUNAJSKALUZNA.GALLERY.H1"></span>
                    <a class="external-link" style="color: #3b5998" href="https://www.facebook.com/sukromnaskolka" target="_blank">
                        <span translate="DUNAJSKALUZNA.GALLERY.A1"></span>
                        <img style="height: 1.5vw" src="./images/FB-f-Logo__blue_512.png">
                    </a>
                </div>
                <div class="panel-body">
                    <ul class="custom-ul">
                        <ng-gallery images="images"></ng-gallery>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'./views/dunajska-luzna/table-of-contents.html'"></div>
</md-content>
