<div ng-show="bigScreen" class="big-screen-short-image-container">
    <img src="./images/kidsShort.jpg" style="width: 100%;" alt="Kids desktop"/>
</div>
<img src="./images/kidsShortMobile.png" style="width: 100%; padding: 0" ng-show="!bigScreen" alt="Kids short Mobile"/>
<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="DUNAJSKALUZNA.PRICELIST"></h2>
        </div>
        <div layout>
            <div flex>
                <div layout="row" layout-sm="column" layout-xs="column">
                    <div flex>
                        <div class="panel panel-default">
                            <div class="panel-heading center-text">
                                <h3 class="green-text" translate="DUNAJSKALUZNA.PRICELIST.H1"></h3>
                                <span class="" translate="DUNAJSKALUZNA.PRICELIST.P1"></span>

                            </div>

                            <div class="panel-body">
                                <table class="price-table2">
                                    <tr>
                                        <th colspan="3"><span translate="DUNAJSKALUZNA.PRICELIST.H2"></span></th>
                                    </tr>
                                    <tr>
                                        <td class="green-text"><span translate="DUNAJSKALUZNA.PRICELIST.FULL_MONTH"></span>
                                        </td>
                                        <td><span translate="DUNAJSKALUZNA.PRICELIST.TIME1"></span></td>
                                        <td class="bold-text"><span translate="DUNAJSKALUZNA.PRICELIST.PRICE1"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="green-text"><span translate="DUNAJSKALUZNA.PRICELIST.FULL_MONTH"></span>
                                        </td>
                                        <td><span translate="DUNAJSKALUZNA.PRICELIST.TIME11"></span></td>
                                        <td class="bold-text"><span translate="DUNAJSKALUZNA.PRICELIST.PRICE11"></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><span translate="DUNAJSKALUZNA.PRICELIST.NOTE1"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div style="width: 2vw" ng-show="bigScreen"></div>

                    <div flex>
                        <div class="panel panel-default">
                            <div class="panel-heading center-text">
                                <h3 class="green-text" translate="DUNAJSKALUZNA.PRICELIST.H4"></h3>
                                <span class="" translate="DUNAJSKALUZNA.PRICELIST.P3"></span>

                            </div>

                            <div class="panel-body">
                                <table class="price-table2">
                                    <tr>
                                        <th colspan="3"><span translate="DUNAJSKALUZNA.PRICELIST.H2"></span></th>
                                    </tr>
                                    <tr>
                                        <td class="green-text"><span translate="DUNAJSKALUZNA.PRICELIST.FULL_MONTH"></span>
                                        </td>
                                        <td><span translate="DUNAJSKALUZNA.PRICELIST.TIME3"></span></td>
                                        <td class="bold-text"><span translate="DUNAJSKALUZNA.PRICELIST.PRICE4"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="green-text"><span translate="DUNAJSKALUZNA.PRICELIST.FULL_MONTH"></span>
                                        </td>
                                        <td><span translate="DUNAJSKALUZNA.PRICELIST.TIME4"></span></td>
                                        <td class="bold-text"><span translate="DUNAJSKALUZNA.PRICELIST.PRICE5"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="green-text" translate="DUNAJSKALUZNA.PRICELIST.H8"></h3>
                <ul>
                    <li translate="DUNAJSKALUZNA.PRICELIST.LI3"></li>
                    <li translate="DUNAJSKALUZNA.PRICELIST.LI4"></li>
                    <li translate="DUNAJSKALUZNA.PRICELIST.LI5"></li>
                </ul>

                <!-- akcia -->
                <div class="panel panel-default">

                    <div class="panel-heading center-text">
                        <h2 class="green-text" translate="DUNAJSKALUZNA.REGISTRATION.H1"></h2>
                    </div>

                    <div class="panel-body">
                        <div layout="row" layout-xs="column" layout-sm="column">
                            <div flex>
                                <h4 class="green-text" translate="DUNAJSKALUZNA.REGISTRATION.H2"></h4>
                                <div class="panel panel-default">
                                    <div class="panel-body panel-footer">
                                        <p translate="DUNAJSKALUZNA.REGISTRATION.P4"></p>
                                    </div>
                                </div>

                                <h4 class="green-text" translate="DUNAJSKALUZNA.REGISTRATION.H3"></h4>
                                <div class="panel panel-default">
                                    <div class="panel-body panel-footer">
                                        <p translate="DUNAJSKALUZNA.REGISTRATION.P5"></p>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 2vw" ng-show="bigScreen"></div>
                            <div flex>
                                <h4 class="green-text" translate="DUNAJSKALUZNA.PRICELIST.H7"></h4>
                                <p translate="DUNAJSKALUZNA.PRICELIST.P5"></p>
                                <table class="price-table2">
                                    <tr>
                                        <td class="green-text"><span translate="DUNAJSKALUZNA.PRICELIST.TD5"></span>
                                        </td>
                                        <td class="bold-text"><span translate="DUNAJSKALUZNA.PRICELIST.TD6"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="green-text"><span translate="DUNAJSKALUZNA.PRICELIST.TD7"></span>
                                        </td>
                                        <td class="bold-text"><span translate="DUNAJSKALUZNA.PRICELIST.TD8"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="green-text"><span translate="DUNAJSKALUZNA.PRICELIST.TD9"></span>
                                        </td>
                                        <td class="bold-text"><span translate="DUNAJSKALUZNA.PRICELIST.TD10"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="green-text" translate="DUNAJSKALUZNA.PRICELIST.H5"></h3>
                <p>
                    <span class="green-text" translate="DUNAJSKALUZNA.PRICELIST.TD1"></span>
                    <span class="bold-text" translate="DUNAJSKALUZNA.PRICELIST.TD2"></span>
                </p>

                <p>
                    <span class="green-text" translate="DUNAJSKALUZNA.PRICELIST.TD3"></span>
                    <span class="bold-text" translate="DUNAJSKALUZNA.PRICELIST.TD4"></span>
                </p>
                <ul>
                    <li translate="DUNAJSKALUZNA.PRICELIST.LI1"></li>
                    <li translate="DUNAJSKALUZNA.PRICELIST.LI2"></li>
                </ul>
                <p translate="DUNAJSKALUZNA.PRICELIST.P4"></p>

                <h3 class="green-text" translate="DUNAJSKALUZNA.PRICELIST.H6"></h3>

            </div>
        </div>
    </div>
    <div ng-include src="'./views/dunajska-luzna/table-of-contents.html'"></div>
</md-content>