<div ng-show="bigScreen" class="big-screen-short-image-container">
    <img src="./images/kidsShort.jpg" style="width: 100%;" alt="Kids desktop"/>
</div>
<img src="./images/kidsShortMobile.png" style="width: 100%; padding: 0" ng-show="!bigScreen" alt="Kids short Mobile"/>
<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="RUZINOV.SPACES"></h2>
        </div>
        <div layout>
            <div flex>
                <div style="text-align: center">
                    <img class="text-image" ng-class="{'full-width-img thick-border' : !bigScreen}" layout-margin
                         ng-class="{'full-width' : !bigScreen}" src="./images/photos/36.jpg" alt="Photo"/>
                </div>
                <p translate="RUZINOV.SPACES.P1"></p>
            </div>
        </div>
    </div>

    <div ng-include src="'./views/dunajska-luzna/table-of-contents.html'"></div>
</md-content>
