<div ng-controller="tableOfContents">
    <div layout layout-align="center top" style="text-align: center" class="table-of-contents" ng-if="bigScreen">
        <div flex class="highlight">
            <a href="#/dunajska-luzna/spaces">
                <img class="highlight-img" class="highlight-img" src="./images/baloons.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.SPACES"></div>
            </a>
        </div>
        <div flex class="highlight">
            <a href="#/dunajska-luzna/daily-schedule">
                <img class="highlight-img" src="./images/mouse.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.DAILY_SCHEDULE"></div>
            </a>
        </div>
        <div flex class="highlight">
            <a href="#/dunajska-luzna/activities">
                <img class="highlight-img" src="./images/ring.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.ACTIVITIES"></div>
            </a>
        </div>
        <div flex class="highlight">
            <a href="#/dunajska-luzna/registration">
                <img class="highlight-img" src="./images/clothes.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.REGISTRATION"></div>
            </a>
        </div>
        <div flex class="highlight">
            <a href="#/dunajska-luzna/pricelist">
                <img class="highlight-img" src="./images/tickets.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.PRICELIST"></div>
            </a>
        </div>
        <div flex class="highlight">
            <a href="#/dunajska-luzna/gallery">
                <img class="highlight-img" src="./images/clown.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.GALLERY"></div>
            </a>
        </div>
    </div>

    <div class="highlights-container-mobile table-of-contents-mobile" get-max-child-height  ng-if="!bigScreen">
        <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 0">
            <a href="#/dunajska-luzna/spaces">
                <img class="highlight-img" class="highlight-img" src="./images/baloons.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.SPACES"></div>
            </a>
        </div>
        <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 1">
            <a href="#/dunajska-luzna/daily-schedule">
                <img class="highlight-img" src="./images/mouse.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.DAILY_SCHEDULE"></div>
            </a>
        </div>
        <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 2">
            <a href="#/dunajska-luzna/activities">
                <img class="highlight-img" src="./images/ring.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.ACTIVITIES"></div>
            </a>
        </div>
        <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 3">
            <a href="#/dunajska-luzna/registration">
                <img class="highlight-img" src="./images/clothes.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.REGISTRATION"></div>
            </a>
        </div>
        <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 4">
            <a href="#/dunajska-luzna/pricelist">
                <img class="highlight-img" src="./images/tickets.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.PRICELIST"></div>
            </a>
        </div>
        <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 5">
            <a href="#/dunajska-luzna/gallery">
                <img class="highlight-img" src="./images/clown.png"/>
                <div flex class="highlight-info-header" translate="DUNAJSKALUZNA.GALLERY"></div>
            </a>
        </div>
    </div>
</div>