<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='bower_components/angular-material/angular-material.css' />
    <link rel='stylesheet' href='bower_components/ngGallery/src/css/ngGallery.css' />
    <link rel='stylesheet' href='bower_components/components-font-awesome/css/font-awesome.css' />
    <link rel='stylesheet' href='bower_components/ui-select/dist/select.css' />
    <link rel='stylesheet' href='bower_components/flag-icon-css/css/flag-icon.min.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/ngFader.css">
    <link rel="stylesheet" type="text/css"
          href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>

    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
    <!--rel="stylesheet">-->
    <!-- endbuild -->
    <script src="https://maps.google.com/maps/api/js"></script>
    <link href='https://fonts.googleapis.com/css?family=Englebert&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Caveat:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body ng-app="skolkaApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-controller="CommonCtrl">
    <md-content style="min-height: 100vh">
        <div class="header" ng-controller="SidebarCtrl">
            <md-toolbar class="top-toolbar" layout-padding ng-class="{'main-content-padding' : bigScreen}">
                <div layout="row">
                    <unhide-when expr="!bigScreen" class="hidden">
                        <div flex="15" ng-if="!bigScreen">
                    <span class="glyphicon glyphicon-menu-hamburger burger-icon"
                          ng-click="toggleSidebar('sidebar')"></span>
                        </div>
                    </unhide-when>
                    <div layout="column" flex>
                        <div layout="row">
                            <div layout="column">
                                <a class="header-link" href="#/">
                                    <div class="main-header" translate="HEADER"></div>
                                    <div class="sub-header" translate="SUB_HEADER"></div>
                                </a>
                            </div>
                            <div style="text-align: right; height: 85px">
                                <img class="logo-img" src="images/leaf.png" alt="Leaf"/>
                            </div>
                            <div class="big-screen-menu" style="height: 85px; width: 100%"
                                 ng-if="bigScreen">
                                <!--polozky nech su v opacnom smere ako ich chceme-->
                                <md-button class="md-raised big-menu-item" href="#/contact"
                                           ng-class="mediumScreenMenuItem"
                                           aria-label="{{'CONTACT' | translate}}">
                                    <span translate="CONTACT"></span>
                                </md-button>
                                <md-fab-speed-dial md-direction="down" md-open="ithersOpen"
                                                   ng-class="mediumScreenMenuItem"
                                                   ng-mouseenter="ithersOpen=true" ng-mouseleave="ithersOpen=false"
                                                   class="md-scale md-fab multilevel-menu">
                                    <md-fab-trigger>
                                        <md-button class="big-menu-item-in-fab" href="#/others"
                                                   aria-label="{{'OTHERS' | translate}}"
                                                   ng-mouseenter="$mdOpenMenu($event)">
                                            <span translate="OTHERS"></span>
                                        </md-button>
                                    </md-fab-trigger>
                                    <md-fab-actions>
                                        <md-button class="sub-menu-item" href="#/hotel" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'HOTEL' | translate}}">
                                            <span translate="HOTEL"></span>
                                            <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                                        ng-class="mediumScreenMenuItem"
                                                        md-autohide="true">
                                                <span class="sub-menu-tooltip" translate="HOTEL_TOOLTIP"></span>
                                            </md-tooltip>
                                        </md-button>
                                        <!--<md-button class="sub-menu-item" href="#/montessori"-->
                                                   <!--ng-class="mediumScreenMenuItem"-->
                                                   <!--aria-label="{{'MONTESSORI_LINK' | translate}}">-->
                                            <!--<span translate="MONTESSORI_LINK"></span>-->
                                            <!--<md-tooltip md-direction="left" md-visible="tooltipVisible"-->
                                                        <!--ng-class="mediumScreenMenuItem"-->
                                                        <!--md-autohide="true">-->
                                                <!--<span class="sub-menu-tooltip" translate="MONTESSORI_TOOLTIP"></span>-->
                                            <!--</md-tooltip>-->
                                        <!--</md-button>-->
                                        <md-button class="sub-menu-item" href="#/healthy-kindergarten"
                                                   ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'HEALTHY_KINDERGARTEN' | translate}}">
                                            <span translate="HEALTHY_KINDERGARTEN"></span>
                                            <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                                        ng-class="mediumScreenMenuItem"
                                                        md-autohide="true">
                                                <span class="sub-menu-tooltip" translate="HEALTHY_KINDERGARTEN_TOOLTIP"></span>
                                            </md-tooltip>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/state-bonus"
                                                   ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'STATE_BONUS' | translate}}">
                                            <span translate="STATE_BONUS"></span>
                                            <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                                        ng-class="mediumScreenMenuItem"
                                                        md-autohide="true">
                                                <span class="sub-menu-tooltip" translate="STATE_BONUS_TOOLTIP"></span>
                                            </md-tooltip>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/party"
                                                   ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'PARTY' | translate}}">
                                            <span translate="PARTY"></span>
                                            <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                                        ng-class="mediumScreenMenuItem"
                                                        md-autohide="true">
                                                <span class="sub-menu-tooltip" translate="PARTY_TOOLTIP"></span>
                                            </md-tooltip>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/oz" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'OZ' | translate}}">
                                            <span translate="OZ"></span>
                                            <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                                        ng-class="mediumScreenMenuItem"
                                                        md-autohide="true">
                                                <span class="sub-menu-tooltip" translate="OZ_TOOLTIP"></span>
                                            </md-tooltip>
                                        </md-button>
                                    </md-fab-actions>
                                </md-fab-speed-dial>
                                <md-fab-speed-dial md-direction="down" md-open="dunajskaLuznaOpen"
                                                   ng-class="mediumScreenMenuItem"
                                                   ng-mouseenter="dunajskaLuznaOpen=true" ng-mouseleave="dunajskaLuznaOpen=false"
                                                   class="md-scale md-fab multilevel-menu">
                                    <md-fab-trigger>
                                        <md-button class="big-menu-item-in-fab" href="#/dunajska-luzna"
                                                   aria-label="{{'DUNAJSKALUZNA' | translate}}"
                                                   ng-mouseenter="$mdOpenMenu($event)">
                                            <span translate="DUNAJSKALUZNA"></span>
                                        </md-button>
                                    </md-fab-trigger>
                                    <md-fab-actions>
                                        <md-button class="sub-menu-item" href="#/dunajska-luzna/spaces" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'DUNAJSKALUZNA.SPACES' | translate}}">
                                            <span translate="DUNAJSKALUZNA.SPACES"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/dunajska-luzna/daily-schedule" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'DUNAJSKALUZNA.DAILY_SCHEDULE' | translate}}">
                                            <span translate="DUNAJSKALUZNA.DAILY_SCHEDULE"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/dunajska-luzna/activities" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'DUNAJSKALUZNA.ACTIVITIES' | translate}}">
                                            <span translate="DUNAJSKALUZNA.ACTIVITIES"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/dunajska-luzna/registration" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'DUNAJSKALUZNA.REGISTRATION' | translate}}">
                                            <span translate="DUNAJSKALUZNA.REGISTRATION"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/dunajska-luzna/pricelist" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'DUNAJSKALUZNA.PRICELIST' | translate}}">
                                            <span translate="DUNAJSKALUZNA.PRICELIST"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/dunajska-luzna/gallery" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'DUNAJSKALUZNA.GALLERY' | translate}}">
                                            <span translate="DUNAJSKALUZNA.GALLERY"></span>
                                        </md-button>
                                    </md-fab-actions>
                                </md-fab-speed-dial>
                                <md-fab-speed-dial md-direction="down" md-open="ruzinovOpen"
                                                   ng-class="mediumScreenMenuItem"
                                                   ng-mouseenter="ruzinovOpen=true" ng-mouseleave="ruzinovOpen=false"
                                                   class="md-scale md-fab multilevel-menu">
                                    <md-fab-trigger>
                                        <md-button class="big-menu-item-in-fab" href="#/ruzinov"
                                                   aria-label="{{'RUZINOV' | translate}}"
                                                   ng-mouseenter="$mdOpenMenu($event)">
                                            <span translate="RUZINOV"></span>
                                        </md-button>
                                    </md-fab-trigger>
                                    <md-fab-actions>
                                        <md-button class="sub-menu-item" href="#/ruzinov/spaces" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'RUZINOV.SPACES' | translate}}">
                                            <span translate="RUZINOV.SPACES"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/ruzinov/daily-schedule" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'RUZINOV.DAILY_SCHEDULE' | translate}}">
                                            <span translate="RUZINOV.DAILY_SCHEDULE"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/ruzinov/activities" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'RUZINOV.ACTIVITIES' | translate}}">
                                            <span translate="RUZINOV.ACTIVITIES"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/ruzinov/registration" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'RUZINOV.REGISTRATION' | translate}}">
                                            <span translate="RUZINOV.REGISTRATION"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/ruzinov/pricelist" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'RUZINOV.PRICELIST' | translate}}">
                                            <span translate="RUZINOV.PRICELIST"></span>
                                        </md-button>
                                        <md-button class="sub-menu-item" href="#/ruzinov/gallery" ng-class="mediumScreenMenuItem"
                                                   aria-label="{{'RUZINOV.GALLERY' | translate}}">
                                            <span translate="RUZINOV.GALLERY"></span>
                                        </md-button>
                                    </md-fab-actions>
                                </md-fab-speed-dial>
                                <md-button class="md-raised big-menu-item" href="#/about"
                                           ng-class="mediumScreenMenuItem"
                                           aria-label="{{'ABOUT_US' | translate}}">
                                    <span translate="ABOUT_US"></span>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="false">
                        <ui-select ng-model="selectedLanguage" class="language-selector"
                                   ng-change="changeLanguage($select.selected)">
                            <ui-select-match>
                                <span class="flag-icon flag-icon-{{$select.selected.code}}"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in languages">
                                <span class="flag-icon flag-icon-{{item.code}}"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
            </md-toolbar>

            <section layout="row" flex>
                <!--mobile menu-->
                <unhide-when expr="!bigScreen" class="hidden">
                    <div ng-if="!bigScreen">
                        <md-sidenav ng-if="!bigScreen"
                                    md-component-id="sidebar"
                                    md-is-open="isSidenavOpen"
                        layout="column" flex>
                            <md-toolbar class="mobile-menu-header">
                                <h2 layout-padding translate="NAV_HEADER" ng-click="toggleSidebar('sidebar')"></h2>
                            </md-toolbar>
                            <md-content style="margin-top: 2vh; padding-left: 1vw; padding-right: 1vw; text-align: left">
                                <uib-accordion close-others="true">
                                    <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/')">
                                        <div class="panel-heading mobile-menu-item">
                                            <h4 class="panel-title">
                                                <span translate="HOME"></span>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/about')">
                                        <div class="panel-heading mobile-menu-item">
                                            <h4 class="panel-title">
                                                <span translate="ABOUT_US"></span>
                                            </h4>
                                        </div>
                                    </div>
                                    <uib-accordion-group is-open="others.open" heading="OTHERS"
                                                         template-url="group-template.html">
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/others')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="OTHERS_INDEX"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/hotel')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="HOTEL"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <!--<div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/montessori')">-->
                                            <!--<div class="panel-heading mobile-menu-item">-->
                                                <!--<h4 class="panel-title">-->
                                                    <!--<span translate="MONTESSORI_LINK"></span>-->
                                                <!--</h4>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/healthy-kindergarten')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="HEALTHY_KINDERGARTEN"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/state-bonus')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="STATE_BONUS"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/oz')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="OZ"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/party')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="PARTY"></span>
                                                </h4>
                                            </div>
                                        </div>
                                    </uib-accordion-group>
                                    <uib-accordion-group is-open="ruzinov.open" heading="RUZINOV"
                                                         template-url="group-template.html">
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/ruzinov')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="RUZINOV.INFORMATION"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/ruzinov/spaces')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="RUZINOV.SPACES"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/ruzinov/daily-schedule')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="RUZINOV.DAILY_SCHEDULE"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/ruzinov/activities')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="RUZINOV.ACTIVITIES"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/ruzinov/registration')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="RUZINOV.REGISTRATION"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/ruzinov/pricelist')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="RUZINOV.PRICELIST"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/ruzinov/gallery')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="RUZINOV.GALLERY"></span>
                                                </h4>
                                            </div>
                                        </div>
                                    </uib-accordion-group>
                                    <uib-accordion-group is-open="dunajskaLuzna.open" heading="DUNAJSKALUZNA"
                                                         template-url="group-template.html">
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/dunajska-luzna')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="DUNAJSKALUZNA.INFORMATION"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/dunajska-luzna/spaces')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="DUNAJSKALUZNA.SPACES"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/dunajska-luzna/daily-schedule')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="DUNAJSKALUZNA.DAILY_SCHEDULE"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/dunajska-luzna/activities')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="DUNAJSKALUZNA.ACTIVITIES"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/dunajska-luzna/registration')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="DUNAJSKALUZNA.REGISTRATION"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/dunajska-luzna/pricelist')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="DUNAJSKALUZNA.PRICELIST"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/dunajska-luzna/gallery')">
                                            <div class="panel-heading mobile-menu-item">
                                                <h4 class="panel-title">
                                                    <span translate="DUNAJSKALUZNA.GALLERY"></span>
                                                </h4>
                                            </div>
                                        </div>
                                    </uib-accordion-group>
                                    <div class="panel panel-default" ng-click="toggleSidebar('sidebar');go('/contact')">
                                        <div class="panel-heading mobile-menu-item">
                                            <h4 class="panel-title">
                                                <span translate="CONTACT"></span>
                                            </h4>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </md-content>
                        </md-sidenav>
                    </div>
                </unhide-when>
                <!--mobile menu end-->
                <div layout-fill layout-padding layout-align="top center" class="main-container" ng-view=""></div>
            </section>
        </div>

        <div class="footer">
            <div class="container" style="text-align: center">
                <p translate="FOOTER"></p>
            </div>
        </div>
    </md-content>
</div>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/ngGallery/src/js/ngGallery.js"></script>
<script src="bower_components/ui-select/dist/select.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/markerclustererplus/src/markerclusterer.js"></script>
<script src="bower_components/google-maps-utility-library-v3-markerwithlabel/dist/markerwithlabel.js"></script>
<script src="bower_components/google-maps-utility-library-v3-infobox/dist/infobox.js"></script>
<script src="bower_components/google-maps-utility-library-v3-keydragzoom/dist/keydragzoom.js"></script>
<script src="bower_components/js-rich-marker/src/richmarker.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/sidebar.js"></script>
<script src="scripts/controllers/common.js"></script>
<script src="scripts/controllers/healthy-kindergarten.js"></script>
<script src="scripts/controllers/daily-schedule.js"></script>
<script src="scripts/controllers/gallery.js"></script>
<script src="scripts/controllers/pricelist.js"></script>
<script src="scripts/controllers/contact.js"></script>
<!-- directives and custom controllers-->
<script src="scripts/directives/ngFader.js"></script>
<script src="scripts/directives/getMaxChildHeight.js"></script>
<script src="scripts/directives/unhideWhen.js"></script>
<script src="scripts/controllers/ruzinov.js"></script>
<script src="scripts/controllers/dunajskaluzna.js"></script>
<script src="scripts/controllers/oz.js"></script>
<script src="scripts/controllers/hotel.js"></script>
<script src="scripts/controllers/party.js"></script>
<script src="scripts/controllers/montessori.js"></script>
<script src="scripts/controllers/statebonus.js"></script>
<script src="scripts/controllers/healthykindergarten.js"></script>
<script src="scripts/controllers/ruzinovspaces.js"></script>
<script src="scripts/controllers/ruzinovinformation.js"></script>
<script src="scripts/controllers/ruzinovdailyschedule.js"></script>
<script src="scripts/controllers/ruzinovactivities.js"></script>
<script src="scripts/controllers/ruzinovregistration.js"></script>
<script src="scripts/controllers/ruzinovpricelist.js"></script>
<script src="scripts/controllers/ruzinovgallery.js"></script>

<script src="scripts/controllers/table-of-contents.js"></script>
<script src="scripts/controllers/dunajskaluznaspaces.js"></script>
<script src="scripts/controllers/dunajskaluznainformation.js"></script>
<script src="scripts/controllers/dunajskaluznadailyschedule.js"></script>
<script src="scripts/controllers/dunajskaluznaactivities.js"></script>
<script src="scripts/controllers/dunajskaluznaregistration.js"></script>
<script src="scripts/controllers/dunajskaluznapricelist.js"></script>
<script src="scripts/controllers/dunajskaluznagallery.js"></script>
<script src="scripts/controllers/others.js"></script>

<script src="scripts/config.js"></script>
<script src="scripts/services/services.js"></script>
<!-- endbuild -->

</body>

<script type="text/ng-template" id="group-template.html" charset="UTF-8">
    <div class="panel {{panelClass || 'panel-default'}}">
        <div class="panel-heading mobile-menu-item" ng-click="toggleOpen()">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}"><span translate="{{heading}}"></span> <i
                        class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i></span></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
</html>
