<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='bower_components/angular-material/angular-material.css' />
    <link rel='stylesheet' href='bower_components/ngGallery/src/css/ngGallery.css' />
    <link rel='stylesheet' href='bower_components/components-font-awesome/css/font-awesome.css' />
    <link rel='stylesheet' href='bower_components/ui-select/dist/select.css' />
    <link rel='stylesheet' href='bower_components/flag-icon-css/css/flag-icon.min.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/ngFader.css">
    <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
    <!--rel="stylesheet">-->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
</head>
<body ng-app="skolkaApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-controller="CommonCtrl">
    <md-content>
        <div class="header" ng-controller="SidebarCtrl">
            <md-toolbar class="top-toolbar" layout-padding ng-class="{'main-content-padding' : bigScreen}">
                <div layout="row">
                    <div flex="15" ng-show="!bigScreen">
                    <span class="glyphicon glyphicon-menu-hamburger burger-icon"
                          ng-click="toggleSidebar('sidebar')"></span>
                    </div>
                    <div layout="column" flex>
                        <div layout="row">
                            <div layout="column">
                                <a class="header-link" href="#/">
                                    <div class="main-header" translate="HEADER"></div>
                                    <div class="sub-header" translate="SUB_HEADER"></div>
                                </a>
                            </div>
                            <div style="text-align: left; height: 85px; padding-left: 1vw">
                                <img class="logo-img" src="images/leaf.png" alt="Leaf"/>
                            </div>
                            <div class="big-screen-menu" style="height: 85px; width: 100%"
                                 ng-show="bigScreen">
                                <md-button class="md-raised big-menu-item" ng-class="mediumScreenMenuItem" href="#/"
                                           aria-label="{{'ABOUT_US' | translate}}">
                                    <span translate="ABOUT_US"></span>
                                </md-button>
                                <md-button class="md-raised big-menu-item" ng-class="mediumScreenMenuItem" href="#/healthy-kindergarten"
                                           aria-label="{{'HEALTHY_KINDEGARTEN' | translate}}">
                                    <span translate="HEALTHY_KINDEGARTEN"></span>
                                </md-button>
                                <md-button class="md-raised big-menu-item" ng-class="mediumScreenMenuItem" href="#/daily-schedule"
                                           aria-label="{{'DAILY_SCHEDULE' | translate}}">
                                    <span translate="DAILY_SCHEDULE"></span>
                                </md-button>
                                <md-button class="md-raised big-menu-item" ng-class="mediumScreenMenuItem" href="#/gallery"
                                           aria-label="{{'GALLERY' | translate}}">
                                    <span translate="GALLERY"></span>
                                </md-button>
                                <md-button class="md-raised big-menu-item" ng-class="mediumScreenMenuItem" href="#/pricelist"
                                           aria-label="{{'PRICELIST' | translate}}">
                                    <span translate="PRICELIST"></span>
                                </md-button>
                                <md-button class="md-raised big-menu-item" ng-class="mediumScreenMenuItem" href="#/contact"
                                           aria-label="{{'CONTACT' | translate}}">
                                    <span translate="CONTACT"></span>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="true">
                        <ui-select ng-model="selectedLanguage" class="language-selector" ng-change="changeLanguage($select.selected)">
                            <ui-select-match>
                                <span class="flag-icon flag-icon-{{$select.selected.code}}"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in languages">
                                <span class="flag-icon flag-icon-{{item.code}}"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </md-toolbar>

            <section layout="row" flex>
                <md-sidenav
                        md-component-id="sidebar"
                        md-is-open="isSidenavOpen"
                        ng-show="!bigScreen">
                    <md-toolbar class="mobile-menu-header">
                        <h2 layout-padding translate="NAV_HEADER" ng-click="toggleSidebar('sidebar')"></h2>
                    </md-toolbar>
                    <md-content>
                        <ul class="mobile-menu-list">
                            <li>
                                <md-button class="md-raised big-menu-item" href="#/"
                                           aria-label="{{'ABOUT_US' | translate}}">
                                    <span translate="ABOUT_US"></span>
                                </md-button>
                            </li>
                            <li>
                                <md-button class="md-raised big-menu-item" href="#/healthy-kindergarten"
                                           aria-label="{{'HEALTHY_KINDEGARTEN' | translate}}">
                                    <span translate="HEALTHY_KINDEGARTEN"></span>
                                </md-button>
                            </li>
                            <li>
                                <md-button class="md-raised big-menu-item" href="#/daily-schedule"
                                           aria-label="{{'DAILY_SCHEDULE' | translate}}">
                                    <span translate="DAILY_SCHEDULE"></span>
                                </md-button>
                            </li>
                            <li>
                                <md-button class="md-raised big-menu-item" href="#/gallery"
                                           aria-label="{{'GALLERY' | translate}}">
                                    <span translate="GALLERY"></span>
                                </md-button>
                            </li>
                            <li>
                                <md-button class="md-raised big-menu-item" href="#/pricelist"
                                           aria-label="{{'PRICELIST' | translate}}">
                                    <span translate="PRICELIST"></span>
                                </md-button>
                            </li>
                            <li>
                                <md-button class="md-raised big-menu-item" href="#/contact"
                                           aria-label="{{'CONTACT' | translate}}">
                                    <span translate="CONTACT"></span>
                                </md-button>
                            </li>
                        </ul>
                    </md-content>
                </md-sidenav>

                <div layout-fill layout-padding layout-align="top center" class="main-container" ng-view=""></div>
            </section>
        </div>

        <div class="footer">
            <div class="container" style="text-align: center">
                <p translate="FOOTER"></p>
            </div>
        </div>
    </md-content>
</div>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/ngGallery/src/js/ngGallery.js"></script>
<script src="bower_components/ui-select/dist/select.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/sidebar.js"></script>
<script src="scripts/controllers/common.js"></script>
<script src="scripts/controllers/healthy-kindergarten.js"></script>
<script src="scripts/controllers/daily-schedule.js"></script>
<script src="scripts/controllers/gallery.js"></script>
<script src="scripts/controllers/pricelist.js"></script>
<script src="scripts/controllers/contact.js"></script>
<!-- directives -->
<script src="scripts/directives/ngFader.js"></script>
<script src="scripts/directives/getMaxChildHeight.js"></script>
<!-- endbuild -->

</body>
</html>
