<div ng-show="bigScreen" class="big-screen-short-image-container">
    <img src="./images/kidsShort.jpg" style="width: 100%;" alt="Kids desktop"/>
</div>
<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="RUZINOV.ACTIVITIES"></h2>
        </div>
        <div layout>
            <div flex>
                <p translate="RUZINOV.ACTIVITIES.P1"></p>
                <div class="kids-distribution-list" layout-padding>
                    <p class="green-text" translate="RUZINOV.INFORMATION.P1"></p>
                    <table style="margin-left: auto; margin-right: auto; text-align: left">
                        <tr>
                            <td class="text-center"><img class="kids-distribution-img" src="./images/ant.png" alt="Ant">
                            </td>
                            <td><span translate="RUZINOV.INFORMATION.LI1"></span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img class="kids-distribution-img" src="./images/sun.png" alt="Sun">
                            </td>
                            <td><span translate="RUZINOV.INFORMATION.LI2"></span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img class="kids-distribution-img" src="./images/frog.png"
                                                         alt="Frog"></td>
                            <td><span translate="RUZINOV.INFORMATION.LI3"></span></td>
                        </tr>
                    </table>
                </div>
                <h3 class="green-text" translate="RUZINOV.ACTIVITIES.H1"></h3>
                <div class="panel panel-default">
                    <div class="panel-body panel-footer">
                        <ul class="custom-ul">
                            <li><span translate="RUZINOV.ACTIVITIES.LI1"></span></li>
                            <li><span translate="RUZINOV.ACTIVITIES.LI2"></span></li>
                            <li><span translate="RUZINOV.ACTIVITIES.LI3"></span></li>
                        </ul>
                    </div>
                </div>
                <h3 class="green-text" translate="RUZINOV.ACTIVITIES.H2"></h3>
                <div class="panel panel-default">
                    <div class="panel-body panel-footer">
                        <ul class="custom-ul">
                            <li><span translate="RUZINOV.ACTIVITIES.LI4"></span></li>
                            <li><span translate="RUZINOV.ACTIVITIES.LI5"></span></li>
                        </ul>
                    </div>
                </div>
                <h3 class="green-text" translate="RUZINOV.ACTIVITIES.H3"></h3>
                <div class="panel panel-default">
                    <div class="panel-body panel-footer">
                        <ul class="custom-ul">
                            <li><span translate="RUZINOV.ACTIVITIES.LI6"></span></li>
                            <li><span translate="RUZINOV.ACTIVITIES.LI7"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'./views/ruzinov/table-of-contents.html'"></div>
</md-content>
