<div ng-show="bigScreen" class="big-screen-short-image-container">
    <img src="./images/kidsShort.jpg" style="width: 100%;" alt="Kids desktop"/>
</div>
<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="RUZINOV"></h2>
        </div>
        <div layout="row" layout-xs="column" layout-padding>
            <div flex layout="column">
                <ng-fader class="image-fader-big"
                          imgs="[
        {alt : 'img1', src : './images/photos/36.jpg'},
        {alt : 'img2', src : './images/photos/38.jpg'},
        {alt : 'img3', src : './images/photos/39.jpg'}]">
                </ng-fader>
            </div>
            <div flex>
                <div class="kids-distribution-list">
                    <p class="green-text" translate="RUZINOV.INFORMATION.P1"></p>
                    <table style="margin-left: auto; margin-right: auto; text-align: left">
                        <tr>
                            <td class="text-center"><img class="kids-distribution-img" src="./images/ant.png" alt="Ant">
                            </td>
                            <td><span translate="RUZINOV.INFORMATION.LI1"></span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img class="kids-distribution-img" src="./images/sun.png" alt="Sun">
                            </td>
                            <td><span translate="RUZINOV.INFORMATION.LI2"></span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img class="kids-distribution-img" src="./images/frog.png"
                                                         alt="Frog"></td>
                            <td><span translate="RUZINOV.INFORMATION.LI3"></span></td>
                        </tr>
                    </table>
                </div>
                <div class="pad2vh"></div>
                <p translate="RUZINOV.INFORMATION.P2"></p>
                <p translate="RUZINOV.INFORMATION.P3"></p>
                <p translate="RUZINOV.INFORMATION.P4"></p>
                <p translate="RUZINOV.INFORMATION.P5"></p>
                <p translate="RUZINOV.INFORMATION.P6"></p>
            </div>
        </div>

        <div layout layout-padding>
            <div flex class="panel panel-default" style="padding: 0">
                <div class="panel-heading">
                    <span translate="RUZINOV.INFORMATION.H1"></span>
                </div>
                <div class="panel-body">
                    <ul class="custom-ul">
                        <li><span translate="RUZINOV.INFORMATION.LI4"></span></li>
                        <li><span translate="RUZINOV.INFORMATION.LI5"></span></li>
                        <li><span translate="RUZINOV.INFORMATION.LI6"></span></li>
                        <li><span translate="RUZINOV.INFORMATION.LI7"></span></li>
                        <li><span translate="RUZINOV.INFORMATION.LI8"></span></li>
                        <li><span translate="RUZINOV.INFORMATION.LI9"></span></li>
                        <li><span translate="RUZINOV.INFORMATION.LI10"></span></li>
                        <li><span translate="RUZINOV.INFORMATION.LI11"></span></li>
                        <li><span translate="RUZINOV.INFORMATION.LI12"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-include src="'./views/ruzinov/table-of-contents.html'"></div>
    </div>
</md-content>
