<div class="panel panel-default">
    <div class="panel-heading">
        <span class="center-text margin-bottom-4vh" translate="RUZINOV.TABLE_OF_CONTENTS"></span>
    </div>
    <div class="panel-body">
        <ul class="green-text">
            <li><a class="green-link" href="#/ruzinov/spaces"><span translate="RUZINOV.SPACES"></span> </a></li>
            <li><a class="green-link" href="#/ruzinov/daily-schedule"><span translate="RUZINOV.DAILY_SCHEDULE"></span> </a></li>
            <li><a class="green-link" href="#/ruzinov/activities"><span translate="RUZINOV.ACTIVITIES"></span> </a></li>
            <li><a class="green-link" href="#/ruzinov/registration"><span translate="RUZINOV.REGISTRATION"></span> </a></li>
            <li><a class="green-link" href="#/ruzinov/pricelist"><span translate="RUZINOV.PRICELIST"></span> </a></li>
            <li><a class="green-link" href="#/ruzinov/gallery"><span translate="RUZINOV.GALLERY"></span> </a></li>
        </ul>
    </div>
</div>