
<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="ABOUT_US"></h2>
        </div>
        <div layout>
            <div flex>
                <p translate="ABOUT.P1"></p>
                <p translate="ABOUT.P2"></p>
                <p translate="ABOUT.P3"></p>
                <p translate="ABOUT.P4"></p>
            </div>
        </div>
        <div style="text-align: center;">
            <h2 class="custom-page-header"
                translate="ABOUT.MOTTO_HEADER"></h2>
        </div>
    </div>
</md-content>
