<div ng-show="bigScreen" class="big-screen-short-image-container">
    <img src="./images/kidsShort.jpg" style="width: 100%;" alt="Kids desktop"/>
</div>

<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="ABOUT_US"></h2>
        </div>
        <div layout>
            <div flex>
                <div style="text-align: center">
                    <img class="text-image" ng-class="{'full-width-img thick-border' : !bigScreen}" layout-margin
                         ng-class="{'full-width' : !bigScreen}" src="./images/photos/29.jpg" alt="Photo"/>
                </div>
                <p translate="ABOUT.P1" class="green-text"></p>
                <p translate="ABOUT.P2"></p>
                <p translate="ABOUT.P3"></p>
                <p translate="ABOUT.P4"></p>
            </div>
        </div>
        <div style="text-align: center;">
            <h2 class="custom-page-header"
                translate="ABOUT.MOTTO_HEADER"></h2>
        </div>
    </div>
</md-content>
