<div ng-show="bigScreen" class="big-screen-short-image-container">
    <img src="./images/kidsShort.jpg" style="width: 100%;" alt="Kids desktop"/>
</div>
<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="HEALTHY_KINDERGARTEN"></h2>
        </div>
        <div layout>
            <div flex>
                <h4 class="green-text" translate="HEALTHY_KINDERGARTEN.P1"></h4>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="center-text margin-bottom-4vh" translate="HEALTHY_KINDERGARTEN.H1"></span>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI1"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI2"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI3"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI4"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI5"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI6"></span></li>
                        </ul>
                        <p translate="HEALTHY_KINDERGARTEN.P2"></p>
                        <p translate="HEALTHY_KINDERGARTEN.P3"></p>
                    </div>
                </div>

                <div layout layout-align="center center" style="text-align: center" layout-padding>
                    <div flex ng-show="bigScreen" flex>
                        <img class="padding-image" src="./images/photos/36.jpg" alt="Photo" />
                    </div>
                    <div ng-show="bigScreen" flex>
                        <img class="padding-image"  src="./images/photos/36.jpg" alt="Photo" />
                    </div>
                    <div ng-show="bigScreen" flex>
                        <img class="padding-image"  src="./images/photos/36.jpg" alt="Photo" />
                    </div>
                    <ng-fader ng-if="!bigScreen" style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 2vh;"
                              imgs="[
        {alt : 'img1', src : './images/photos/36.jpg'},
        {alt : 'img2', src : './images/photos/38.jpg'},
        {alt : 'img3', src : './images/photos/39.jpg'}]">

                    </ng-fader>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="center-text margin-bottom-4vh" translate="HEALTHY_KINDERGARTEN.H2"></span>
                    </div>
                    <div class="panel-body">
                        <p translate="HEALTHY_KINDERGARTEN.P4"></p>
                        <h4 class="green-text" translate="HEALTHY_KINDERGARTEN.H3"></h4>
                        <ul>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI7"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI8"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI9"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI10"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI11"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI12"></span></li>
                        </ul>
                        <h4 class="green-text" translate="HEALTHY_KINDERGARTEN.H4"></h4>
                        <ul>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI13"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI14"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI15"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI16"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI17"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI18"></span></li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <span translate="HEALTHY_KINDERGARTEN.PANEL_FOOTER1"></span> <a href="http://www.kruzkovo.sk"
                                                                                        class="external-link">www.kruzkovo.sk</a>
                        <span translate="HEALTHY_KINDERGARTEN.PANEL_FOOTER2"></span> <a href="http://happykids.sk"
                                                                                        class="external-link">www.happykids.sk</a>
                    </div>
                </div>

                <div layout layout-align="center center" style="text-align: center" layout-padding>
                    <div flex ng-show="bigScreen">
                        <img class="padding-image" src="./images/photos/36.jpg" alt="Photo" />
                    </div>
                    <div ng-show="bigScreen" flex>
                        <img class="padding-image"  src="./images/photos/36.jpg" alt="Photo" />
                    </div>
                    <div ng-show="bigScreen" flex>
                        <img class="padding-image"  src="./images/photos/36.jpg" alt="Photo" />
                    </div>
                    <ng-fader ng-if="!bigScreen" style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 2vh;"
                              imgs="[
        {alt : 'img1', src : './images/photos/36.jpg'},
        {alt : 'img2', src : './images/photos/38.jpg'},
        {alt : 'img3', src : './images/photos/39.jpg'}]">

                    </ng-fader>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="center-text margin-bottom-4vh" translate="HEALTHY_KINDERGARTEN.H5"></span>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI19"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI20"></span></li>
                            <li><span translate="HEALTHY_KINDERGARTEN.LI21"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>
