<img src="./images/kidsMobile.png" style="width: 100%; padding: 0" ng-show="!bigScreen" alt="Kids Mobile"/>
<div ng-show="bigScreen" class="big-screen-image-container">
    <img src="./images/kidsDesktop.jpg" style="width: 100%;" alt="Kids desktop"/>
    <div ng-class="{'main-content-padding' : bigScreen}" class="big-screen-motto" translate="MOTTO"></div>
    <div ng-class="{'main-content-padding' : bigScreen}" class="big-screen-header-montessori-link">
        <a href="#/montessori"><span translate="MONTESSORI.LINK1"></span> <span class="montessori-highlight"
                                                                                translate="MONTESSORI.LINK2"></span>
        </a>
    </div>
</div>
<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div flex layout layout-sm="column" layout-xs="column">
        <!--mobile moto, images and montessori-->
        <div ng-if="!bigScreen" style="margin-bottom: 2vw">
            <div class="mobile-screen-motto" translate="MOTTO"></div>
            <md-button class="md-raised mobile-montessori-link" href="#/montessori"
                       ng-class="mediumScreenMenuItem"
                       aria-label="{{'RUZINOV' | translate}}">
                <span translate="MONTESSORI.LINK1"></span>
                <span translate="MONTESSORI.LINK2"></span>
            </md-button>
        </div>
        <!--mobile moto, images and montessori end-->
        <!--<div flex layout-padding layout>-->
        <!--<div flex="10" flex-xs="20" flex-md="20">-->
        <!--<img src="./images/globe.png" alt="Welcome!" style="float: left; width: 100%"/>-->
        <!--</div>-->
        <!--<p style="font-size: 1.8em" translate="HOMEPAGE.WELCOME" flex></p>-->
        <!--</div>-->
        <!--<div flex="45" flex-sm="100" flex-xs="100" flex-md="40" layout-align="center center" layout layout-padding>-->
        <!--<div flex layout layout-align="center center" flex-sm="60" layout-align-sm="right center">-->
        <!--<div flex="25" flex-xs="30" flex-md="50">-->
        <!--<img class="hotel-img" src="./images/house.png" alt="house"/>-->
        <!--</div>-->
        <!--<div flex class="hotel-text" layout layout-align="left center" layout-padding>-->
        <!--<a class="hotel-highlight-link" href="#/hotel" style="text-align: left !important">-->
        <!--<span translate="HOTEL"></span>-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--mobile highlights-->
        <div ng-if="!bigScreen" class="highlights-container-mobile" get-max-child-height>
            <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 0">
                <a href="#/healthy-kindergarten">
                    <img src="./images/baloons.jpg"/>
                    <div flex class="highlight-info-header" translate="HIGHLIGHTS.HEALTHY_KINDERGARTEN_HEADER"></div>
                    <div flex class="highlight-info-text" translate="HIGHLIGHTS.HEALTHY_KINDERGARTEN_TEXT"></div>
                </a>
            </div>
            <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 1">
                <a href="#/state-bonus">
                    <img src="./images/clownHat.jpg"/>
                    <div flex class="highlight-info-header" translate="HIGHLIGHTS.STATE_BONUS_HEADER"></div>
                    <div flex class="highlight-info-text" translate="HIGHLIGHTS.STATE_BONUS_TEXT"></div>
                </a>
            </div>
            <div class="highlight-mobile swap-animation" ng-animate-swap="mobileHighlight === 2">
                <a href="#/hotel">
                    <img src="./images/fireworks.jpg"/>
                    <div flex class="highlight-info-header" translate="HIGHLIGHTS.HOTEL_HEADER"></div>
                    <div flex class="highlight-info-text" translate="HIGHLIGHTS.HOTEL_TEXT"></div>
                </a>
            </div>
        </div>
        <!--mobile highlights end-->
    </div>
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="HOMEPAGE.HEADER"></h2>
        </div>
        <div layout>
            <div flex="85" flex-md="75" flex-sm="100" flex-xs="100">
                <p translate="HOMEPAGE.P1"></p>
                <p translate="HOMEPAGE.P2"></p>
                <p translate="HOMEPAGE.P3"></p>
                <p translate="HOMEPAGE.P4"></p>
                <p translate="HOMEPAGE.P5"></p>
            </div>
            <div flex layout-margin ng-if="bigScreen">
                <img class="small-homepage-image" src="./images/photos/36.jpg" alt="img1"/>
                <img class="small-homepage-image" src="./images/photos/38.jpg" alt="img2"/>
                <img ng-show="mediumScreen" class="small-homepage-image" src="./images/photos/39.jpg" alt="img3"/>
            </div>
        </div>
        <div style="text-align: center;">
            <h2 class="custom-page-header"
                translate="HOMEPAGE.MOTTO_HEADER"></h2>
            <p translate="HOMEPAGE.P6"></p>
        </div>
    </div>
    <md-content ng-if="bigScreen" style="margin-top: 2vw">
        <div layout layout-align="center top" style="text-align: center">
            <div flex="30" class="highlight">
                <a href="#/healthy-kindergarten">
                    <img src="./images/baloons.jpg"/>
                    <div flex class="highlight-info-header" translate="HIGHLIGHTS.HEALTHY_KINDERGARTEN_HEADER"></div>
                    <div flex class="highlight-info-text" translate="HIGHLIGHTS.HEALTHY_KINDERGARTEN_TEXT"></div>
                </a>
            </div>
            <div flex="30" class="highlight">
                <a href="#/state-bonus">
                    <img src="./images/clownHat.jpg"/>
                    <div flex class="highlight-info-header" translate="HIGHLIGHTS.STATE_BONUS_HEADER"></div>
                    <div flex class="highlight-info-text" translate="HIGHLIGHTS.STATE_BONUS_TEXT"></div>
                </a>
            </div>
            <div flex="30" class="highlight">
                <a href="#/hotel">
                    <img src="./images/fireworks.jpg"/>
                    <div flex class="highlight-info-header" translate="HIGHLIGHTS.HOTEL_HEADER"></div>
                    <div flex class="highlight-info-text" translate="HIGHLIGHTS.HOTEL_TEXT"></div>
                </a>
            </div>
        </div>
    </md-content>
    <ng-fader ng-if="!bigScreen" style="width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 2vh;"
              imgs="[
        {alt : 'img1', src : './images/photos/36.jpg'},
        {alt : 'img2', src : './images/photos/38.jpg'},
        {alt : 'img3', src : './images/photos/39.jpg'}]">

    </ng-fader>
</md-content>
