<div ng-show="bigScreen" class="big-screen-short-image-container">
    <img src="./images/kidsShort.jpg" style="width: 100%;" alt="Kids desktop"/>
</div>

<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header"
                translate="MONTESSORI.HEADER"></h2>
        </div>
        <div layout>
            <uib-accordion flex close-others="true">
                <uib-accordion-group is-open="cv.open" heading="MONTESSORI.CV"
                                     template-url="montessori-accordion-template.html">
                    <p translate="MONTESSORI.CV.P1"></p>
                    <div class="panel panel-footer">
                        <ul>
                            <li><span translate="MONTESSORI.CV.BOOK1"></span></li>
                            <li><span translate="MONTESSORI.CV.BOOK2"></span></li>
                            <li><span translate="MONTESSORI.CV.BOOK3"></span></li>
                            <li><span translate="MONTESSORI.CV.BOOK4"></span></li>
                            <li><span translate="MONTESSORI.CV.BOOK5"></span></li>
                            <li><span translate="MONTESSORI.CV.BOOK6"></span></li>
                            <li><span translate="MONTESSORI.CV.BOOK7"></span></li>
                            <li><span translate="MONTESSORI.CV.BOOK8"></span></li>
                        </ul>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group is-open="whatis.open" heading="MONTESSORI.WHAT_IS"
                                     template-url="montessori-accordion-template.html">
                    <div style="text-align: right; float: right; color: #658202; width: 100%">
                        <p translate="MONTESSORI.WHAT_IS.P1"></p>
                        <p translate="MONTESSORI.WHAT_IS.P2"></p>
                        <p translate="MONTESSORI.WHAT_IS.P3"></p>
                    </div>
                    <p translate="MONTESSORI.WHAT_IS.P4"></p>
                    <h4 class="green-text" translate="MONTESSORI.WHAT_IS.SUBHEADER"></h4>
                    <div class="panel panel-footer">
                        <ul>
                            <li><span translate="MONTESSORI.WHAT_IS.LI1"></span></li>
                            <li><span translate="MONTESSORI.WHAT_IS.LI2"></span></li>
                            <li><span translate="MONTESSORI.WHAT_IS.LI3"></span></li>
                            <li><span translate="MONTESSORI.WHAT_IS.LI4"></span></li>
                        </ul>
                    </div>
                    <p translate="MONTESSORI.WHAT_IS.P5"></p>
                </uib-accordion-group>
                <uib-accordion-group is-open="principles.open" heading="MONTESSORI.PRINCIPLES"
                                     template-url="montessori-accordion-template.html">
                    <h4 class="green-text" translate="MONTESSORI.PRINCIPLES.SUBHEADER1"></h4>
                    <p translate="MONTESSORI.PRINCIPLES.P1"></p>
                    <h4 class="green-text" translate="MONTESSORI.PRINCIPLES.SUBHEADER2"></h4>
                    <p translate="MONTESSORI.PRINCIPLES.P2"></p>
                    <h4 class="green-text" translate="MONTESSORI.PRINCIPLES.SUBHEADER3"></h4>
                    <p translate="MONTESSORI.PRINCIPLES.P3"></p>
                    <h4 class="green-text" translate="MONTESSORI.PRINCIPLES.SUBHEADER4"></h4>
                    <p translate="MONTESSORI.PRINCIPLES.P4"></p>
                    <h4 class="green-text" translate="MONTESSORI.PRINCIPLES.SUBHEADER5"></h4>
                    <p translate="MONTESSORI.PRINCIPLES.P5"></p>
                    <div class="panel panel-footer">
                        <ol>
                            <li><span translate="MONTESSORI.PRINCIPLES.LI1"></span></li>
                            <li><span translate="MONTESSORI.PRINCIPLES.LI2"></span></li>
                            <li><span translate="MONTESSORI.PRINCIPLES.LI3"></span></li>
                        </ol>
                    </div>
                    <h4 class="green-text" translate="MONTESSORI.PRINCIPLES.SUBHEADER6"></h4>
                    <p translate="MONTESSORI.PRINCIPLES.P6"></p>
                    <h4 class="green-text" translate="MONTESSORI.PRINCIPLES.SUBHEADER7"></h4>
                    <p translate="MONTESSORI.PRINCIPLES.P7"></p>
                </uib-accordion-group>
                <uib-accordion-group is-open="practiceLife.open" heading="MONTESSORI.PRACTICE_LIFE"
                                     template-url="montessori-accordion-template.html">
                    <p translate="MONTESSORI.PRACTICE_LIFE.P1"></p>
                    <p translate="MONTESSORI.PRACTICE_LIFE.P2"></p>
                    <div class="panel panel-footer">
                        <ul>
                            <li><span translate="MONTESSORI.PRACTICE_LIFE.LI1"></span></li>
                            <li><span translate="MONTESSORI.PRACTICE_LIFE.LI2"></span></li>
                            <li><span translate="MONTESSORI.PRACTICE_LIFE.LI3"></span></li>
                            <li><span translate="MONTESSORI.PRACTICE_LIFE.LI4"></span></li>
                        </ul>
                    </div>
                    <p translate="MONTESSORI.PRACTICE_LIFE.P3"></p>
                </uib-accordion-group>
                <uib-accordion-group is-open="senseEducation.open" heading="MONTESSORI.SENSE_EDUCATION"
                                     template-url="montessori-accordion-template.html">
                    <p translate="MONTESSORI.SENSE_EDUCATION.P1"></p>
                    <div class="panel panel-footer">
                        <ul>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI1"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI2"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI3"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI4"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI5"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI6"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI7"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI8"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI9"></span></li>
                            <li><span translate="MONTESSORI.SENSE_EDUCATION.LI10"></span></li>
                        </ul>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group is-open="languageEducation.open" heading="MONTESSORI.LANGUAGE_EDUCATION"
                                     template-url="montessori-accordion-template.html">
                    <p translate="MONTESSORI.LANGUAGE_EDUCATION.P1"></p>
                </uib-accordion-group>
                <uib-accordion-group is-open="mathematics.open" heading="MONTESSORI.MATHEMATICS"
                                     template-url="montessori-accordion-template.html">
                    <p translate="MONTESSORI.MATHEMATICS.P1"></p>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</md-content>


<script type="text/ng-template" id="montessori-accordion-template.html" charset="UTF-8">
    <div class="panel {{panelClass || 'panel-default'}}">
        <div class="panel-heading mobile-menu-item" ng-click="toggleOpen()">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}"><span translate="{{heading}}"></span> <i
                        class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i></span></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>