<md-content ng-class="{'main-content-padding' : bigScreen}">
    <div class="page-content">
        <div style="text-align: center;">
            <h2 class="custom-page-header" ng-class="{'custom-page-header-big-screen' : bigScreen}"
                translate="STATE_BONUS"></h2>
        </div>
        <div layout>
            <div flex>
                <p translate="STATE_BONUS.P1"></p>
                <div class="bonus-highlight">
                    <span translate="STATE_BONUS.H1"></span> <span class="green-text" translate="STATE_BONUS.NUM"></span>
                </div>
                <p translate="STATE_BONUS.P2"></p>
                <ul>
                    <li><span translate="STATE_BONUS.LI1"></span></li>
                    <li><span translate="STATE_BONUS.LI2"></span></li>
                    <li><span translate="STATE_BONUS.LI3"></span></li>
                    <li><span translate="STATE_BONUS.LI4"></span></li>
                </ul>
            </div>
        </div>
    </div>
</md-content>
